@model NXT25_AST4_SWD5_S2_InGym.Models.WorkoutPlan

<h2>Manage Workout Plan</h2>

<hr />

<p>
    <strong>Goal :</strong>
    @Model.Goal
</p>

<p>
    <strong>Duration :</strong>

    @Model.StartDate.ToShortDateString()

    -

    @Model.EndDate.ToShortDateString()
</p>
<a asp-action="AddExercise"
   asp-route-planId="@Model.PlanID"
   class="btn btn-success mb-3">
    Add Exercise
</a>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>Exercise</th>

            <th>Day</th>

            <th>Sets</th>

            <th>Reps</th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model.WorkoutPlanExercises)
        {
            <tr>

                <td>@item.Exercise.ExerciseName</td>

                <td>@item.WorkoutDay</td>

                <td>@item.Sets</td>

                <td>@item.Reps</td>

            </tr>
        }

    </tbody>

</table>